<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AllIn WebDev</title>

    <link rel="stylesheet" href="/public/css/index.css">
</head>

<body>
    <header>
        <div class="logo">
            <img src="/public/images/logohead.png" alt="AllIn WebDev">
        </div>

        <nav>
            <ul>
                <li>
                    <a href="#">Início</a>
                </li>
                <li>
                    <a href="#">Sobre</a>
                </li>
                <li>
                    <a href="#">Serviços</a>
                </li>
                <li>
                    <a href="#">Contato</a>
                </li>
            </ul>
        </nav>

        <div>
            <div class="logo-instagram">
                <img src="/public/images/instagram-square-brands.svg" alt="Instagram">
            </div>
            <!-- <div>
                <img src="" alt="">
            </div> -->
        </div>
    </header>

    <main>
        <section class="section-1">
            <h2>Tipos de Serviços</h2>
            <p>Em que somos focados</p>
        </section>

        <article class="">
            <section class="section-2">
                <div class="text">
                    <h2>Descrição dos Serviços prestados</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore, esse voluptatibus!</p>
                </div>
                <div class="list-image">
                    <figure class="image-2">
                        <img src="/public/images/placeholder.png" alt="placeholder">
                        <figcaption>Pequena descrição</figcaption>
                    </figure>
                    <figure class="image-2">
                        <img src="/public/images/placeholder.png" alt="placeholder">
                        <figcaption>Pequena descrição</figcaption>
                    </figure>
                    <figure class="image-3">
                        <img src="/public/images/placeholder.png" alt="placeholder">
                        <figcaption>Pequena descrição</figcaption>
                    </figure>
                </div>
            </section>

            <section class="section-3">
                <div class="text">
                    <h2>Pequeno Texto Explicativo</h2>
                    <p>Descrição de por que fazer um site</p>
                </div>

                <div class="action-button">
                    <a href="#">Entrar em contato</a>
                </div>
            </section>

            <section class="section-4">
                <div class="text">
                    <h2>PEQUENO TEXTO EXPLICATIVO</h2>
                    <p>Responsividade</p>
                    <p>SEO</p>
                </div>
                <div class="list-image">
                    <figure>
                        <img src="/public/images/placeholder.png" alt="placeholder">
                        <figcaption>Responsividade</figcaption>
                    </figure>
                    <figure>
                        <img src="/public/images/placeholder.png" alt="placeholder">
                        <figcaption>SEO</figcaption>
                    </figure>
                    <figure>
                        <img src="/public/images/placeholder.png" alt="placeholder">
                        <figcaption>Outra coisa</figcaption>
                    </figure>
                    <figure>
                        <img src="/public/images/placeholder.png" alt="placeholder">
                        <figcaption>Mais outra coisa</figcaption>
                    </figure>
                </div>
            </section>

            <section class="section-5">
                <div class="list-image">
                    <img src="/public/images/placeholder.png" alt="placeholder">
                    <img src="/public/images/placeholder.png" alt="placeholder">
                    <img src="/public/images/placeholder.png" alt="placeholder">
                    <img src="/public/images/placeholder.png" alt="placeholder">
                </div>
            </section>

            <section class="section-6">
                <h2>Processo de Orçamento e Finalização</h2>
                <div class="steps">
                    <figure>
                        <img src="/public/images/placeholder.png" alt="placeholder">
                        <figcaption>Primeiro Wireframe</figcaption>
                    </figure>
                    <figure>
                        <img src="/public/images/placeholder.png" alt="placeholder">
                        <figcaption>Segundo Mockup</figcaption>
                    </figure>
                    <figure>
                        <img src="/public/images/placeholder.png" alt="placeholder">
                        <figcaption>Acompanhamento do Processo</figcaption>
                    </figure>
                </div>
            </section>

            <section class="section-7">
                <h2>Entre em contato</h2>
                <form action="#" method="POST">
                    <fieldset>
                        <input type="text" name="name" id="name">
                        <input type="text" name="email" id="email">
                        <input type="text" name="whatsapp" id="whatsapp">

                        <textarea name="message" id="message"></textarea>

                        <button id="enviar" type="submit">Enviar mensagem</button>
                    </fieldset>
                </form>
            </section>
        </article>
    </main>

    <footer>
        <div class="images">
            <div class="logo">
                <img src="/public/images/logohead.png" alt="AllIn WebDev">
            </div>
            <div>
                <img class="logo-instagram" src="/public/images/instagram-square-brands.svg" alt="">
            </div>
        </div>
        <small>Copyright © 2020 Todos os Direitos Reservados |AllInWebDev</small>
    </footer>

    <script src="./../../public/js/index.js"></script>
</body>

</html>